.sidenav {
  border: 3px solid black;
  border-radius: 5px;
  background-color: #996633;
  font-family: 'Quicksand', sans-serif;
}


a {
    color: #d0d9e1;
    text-decoration: none;
    padding-right: 25px;

}


